node_red/flows.json
[
    {
        "id": "f71d986aee442ad5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0643189e93f5059",
        "type": "mqtt in",
        "z": "f71d986aee442ad5",
        "name": "",
        "topic": "feeds/moisture",
        "qos": "2",
        "datatype": "auto",
        "broker": "18974d4be347ffe4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "b67cccfd490ae348",
                "87a782a6c6aad3ee"
            ]
        ]
    },
    {
        "id": "b67cccfd490ae348",
        "type": "ui_chart",
        "z": "f71d986aee442ad5",
        "name": "",
        "group": "d5c7d9e45dc39405",
        "order": 4,
        "width": 10,
        "height": 4,
        "label": "Moisture Sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "87a782a6c6aad3ee",
        "type": "ui_gauge",
        "z": "f71d986aee442ad5",
        "name": "",
        "group": "d5c7d9e45dc39405",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Moisture Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#ef2929",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "1045",
        "seg2": "3045",
        "className": "",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "32c996d73a274e38",
        "type": "mqtt out",
        "z": "f71d986aee442ad5",
        "name": "",
        "topic": "feeds/moisture",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "18974d4be347ffe4",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "38ab60735913212d",
        "type": "ui_button",
        "z": "f71d986aee442ad5",
        "name": "",
        "group": "d5c7d9e45dc39405",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pump",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "900",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "32c996d73a274e38"
            ]
        ]
    },
    {
        "id": "440911ab74b4a710",
        "type": "mqtt in",
        "z": "f71d986aee442ad5",
        "name": "",
        "topic": "feeds/waterlevel",
        "qos": "2",
        "datatype": "auto",
        "broker": "18974d4be347ffe4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 400,
        "wires": [
            [
                "fccafff3cef8fe0b"
            ]
        ]
    },
    {
        "id": "fccafff3cef8fe0b",
        "type": "ui_gauge",
        "z": "f71d986aee442ad5",
        "name": "",
        "group": "d5c7d9e45dc39405",
        "order": 3,
        "width": 5,
        "height": 5,
        "gtype": "wave",
        "title": "Distance Sensor",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "18974d4be347ffe4",
        "type": "mqtt-broker",
        "name": "MQTT BROKER",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d5c7d9e45dc39405",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "d4490a67e7123c0f",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d4490a67e7123c0f",
        "type": "ui_tab",
        "name": "Garden",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]